*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: abril fatface;
}


li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

img {
    height: auto;
}

html {
    font-family: var(--ff-inter);
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background-color: white;
    color: var(--eerie-black);
    font-size: 1.6rem;
    line-height: 1.5;
}

.section {
    margin-inline: 15px;
}

.hover\:underline {
    text-underline-offset: 3px;
}

.hover\:underline:is(:hover, :focus) {
    text-decoration: underline;
}

.section:not(.header, .footer-bottom) {
    padding-block-end: 50px;
    border-block-end: 1px solid lightgray;
}

.h1 {
    font-size: 7.6rem;
}
.h2 {
    font-size: 3.2rem;
}
.h3 {
    font-size: 2.4rem;
}
.h4 {
    font-size: 2.2rem;
}
.h5 {
    font-size: 1.8rem;
}

.spanlogo {
    color: #38c93f;
}

.img-holder {
    aspect-ratio: 300 / 360;
    background-color: var(--light-gray-1);
    overflow: hidden;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.blog-card .card-banner {
    position: relative;
    border-radius: 16px;
    margin-block-end: 15px;
}

.grid-list {
    display: grid;
    gap: 30px;
}

.container .section-subtitle{
    font-size: 30px;
    padding: 15px;
}

.header {
    position: relative;
    padding-block: 25px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-link {
    font-size: 30px;
    padding: 10px;
}

.navbar-link:hover {
    color: #38c93f;
}

.content:hover {
    color: #38c93f;
}


.footer { padding-block: 40px 20px; }

.section.footer-top {
    border-block-end: none;
}


.footer-top {
    display: grid;
    gap: 25px;
}

.footer-text {
    font-size: var(--fs-5);
    font-weight: var(--fw-500);
    line-height: 1.4;
}

.footer-list .h5 {
    font-weight: var(--fw-700);
    margin-block-end: 15px;
}

.footer-list {
    list-style: none;
    grid-column-start: 2;
    grid-column-end: 4;
}

.footer-list li {
    display: inline;
}

.footer-list-item {
    display: flex;
    align-items: center;
    gap: 8px;
    grid-column-start: 3;
    grid-column-end: 5;
}

.footer-list-item ion-icon {
    font-size: 18px;
    flex-shrink: 0;
}

.footer-link {
    font-size: 1.5rem;
    font-weight: 500;
    margin-block-start: 8px;
}

.section-copyright {
    grid-column-start: 4;
    grid-column-end: 5;
}

.copyright {
    font-size: 1.5rem;
    margin-block-start: 25px;
}


/*About Page*/

.containerabout {
    text-align: center;
}

.containerabout p {
    font-size: 30px;
}

.spancontact:hover {
    color: #38c93f;

}

@media (min-width: 575px) {

    :root {


        --fs-1: 6rem;
        --fs-2: 4.8rem;

    }


    .section {
        margin-inline: 30px;
    }

    .section-subtitle {
        font-size: var(--fs-6);
    }

    .grid-list {
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }


    .header {
        padding-block: 30px;
    }

    /**
     * RECOMMENDED POST, FOOTER
     */

        .recommended .grid-list,
    .footer-top {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-brand {
        grid-column: 1 / 4;
    }

    .footer-text {
        max-width: 400px;
        margin-block-end: 20px;
    }

}



@media (min-width: 768px) {


    :root {


        --fs-1: 7.2rem;
        --fs-2: 5.5rem;


        --radius-16: 26px;

    }



    .section {
        margin-inline: 50px;
    }

    .grid-list {
        gap: 40px 15px;
    }


    .recent .title-wrapper {
      display: flex;
      justify-content: space-between;
      margin-block-end: 10px;
    }


    .recommended .grid-list {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 15px;
    }



    .footer-top {
        grid-template-columns: repeat(4, 1fr);
    }

    .footer-brand {
        grid-column: 1 / 5;
    }

    .footer-link {
        --fs-7: 1.7rem;
    }

  }



  @media (min-width: 992px) {

    /**
     * CUSTOM PROPERTY
     */

    :root {

      /**
       * typography
       */

      --fs-1: 8.8rem;

      /**
       * spacing
       */

      --section-padding: 60px;

    }



    /**
     * REUSED STYLE
     */

    .section {
        margin-inline: 60px;
    }

    .has-scrollbar {
      margin-inline: -60px;
      padding-inline: 60px;
    }

    .has-scrollbar::-webkit-scrollbar-button {
        width: 30px;
    }

    .btn {
      --fs-6: 2.4rem;
      padding: 18px 36px;
    }

    .newsletter-form {
        max-width: 450px;
    }

    .newsletter-form .email-field {
      padding-block: 18px;
      padding-inline-start: 30px;
    }

    .blog-card .card-title {
        padding-inline-end: 15px;
    }

    .blog-card .card-text {
        font-size: unset;
    }

    .grid-list {
        grid-template-columns: repeat(3, 1fr);
    }



    /**
     * HEADER
     */

    .nav-toggle-btn {
        display: none;
    }

    .search-btn .span,
    .header .btn {
        display: block;
    }

    .header .wrapper {
        gap: 10px;

    }

    .search-btn,
    .header .btn {
      --fs-6: 1.8rem;
      padding: 6px 20px;
    }

    .search-btn {
      display: flex;
      align-items: center;
      gap: 5px;
      background-color: var(--cultured);
      font-size: var(--fs-6);
      font-weight: var(--fw-500);
      border-radius: var(--radius-pill);
      transition: var(--transition-1);
    }

    .search-btn:is(:hover, :focus) {
        background-color: var(--gainsboro);
    }

    .navbar,
    .navbar.active {
      all: unset;
      margin-inline: auto 12px;
    }

    .navbar-list {
      display: flex;
      gap: 8px;
    }



    /**
     * HERO
     */

    .hero {
        padding-block-start: 25px;
    }

    .hero-title {
        margin-block-end: 30px;
    }

    .hero .newsletter-text {
      display: block;
      max-width: 400px;
      color: var(--eerie-black_80);
      line-height: 1.3;
    }

    .hero .wrapper {
      display: flex;
      align-items: center;
      gap: 15px;
    }



    /**
     * RECENT POST
     */

    .top-author .avatar {
        width: 85px;
    }



    /**
     * RECOMMENDED POST
     */

    .recommended .grid-list {
        grid-template-columns: repeat(6, 1fr);
    }



    /**
     * NEWSLETTER
     */

    .newsletter {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .newsletter .section-title {
        margin-block-end: 0;
    }

  }





  /**
   * responsive for large than 1200px screen
   */

  @media (min-width: 1200px) {

    /**
     * CUSTOM PROPERTY
     */

    :root {

      /**
       * typography
       */

      --fs-1: 9.2rem;
      --fs-2: 6rem;
      --fs-3: 2.6rem;
      --fs-4: 2.4rem;

    }



    /**
     * REUSED STYLE
     */

    .section {
        margin-inline: 70px;
    }

    .has-scrollbar {
      margin-inline: -70px;
      padding-inline: 70px;
    }

    .has-scrollbar::-webkit-scrollbar-button {
        width: 35px;
    }

    .card-tag {
      --fs-9: 1.4rem;
      padding: 4px 10px;
    }

    .grid-list {
        row-gap: 50px;
    }



    /**
     * HERO
     */

    .section.hero {
        padding-block: 50px 80px;
    }

    .hero-title {
        margin-block-end: 50px;
    }



    /**
     * RECENT POST
     */

    .top-author .avatar {
        width: 100px;
    }

    .recent .btn {
        margin-block-start: 70px;
    }



    /**
     * FOOTER
     */

    .footer-top {
        grid-template-columns: 1fr 0.4fr 0.4fr 0.4fr 0.4fr;
    }

    .footer-brand {
      grid-column: auto;
      padding-inline-end: 100px;
    }

  }

/*Blog Page*/

.hero-titleposts {
    font-size: 50px;
    text-align: center;
}

.blogPostContent {
    max-width: 1200px;
    margin: 3rem auto;
    padding: 20px;
    border-radius: 10px;
  }

  .blogPost {
    margin-bottom: 20px;
    line-height: 1.6;
  }



  .blogPost h3 {
    font-size: 3em;
    color: var(color--black);
    margin-top: 3rem;
    margin-bottom: 0;
    text-decoration: underline;
  }

  .blogPost img {
    width: 700px;
    height: 500px;
    object-fit: cover;
    display: block;
    margin: 20px auto;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }

  .blogPostDate {
    font-size: 1rem;
    font-family: var(--text-heading);
    color: var(--color-black);
    font-weight: 700;

  }

  .paragraphsContainer {
    margin: 3rem auto;
    max-width: 700px;
    font-weight: 500;
    font-size: 1.2rem;
  }

  .footer { padding-block: 40px 20px; }

  .section.footer-top {
      border-block-end: none;
  }


  .footer-top {
      display: grid;
      gap: 25px;
  }

  .footer-text {
      font-size: var(--fs-5);
      font-weight: var(--fw-500);
      line-height: 1.4;
  }

  .footer-list .h5 {
      font-weight: var(--fw-700);
      margin-block-end: 15px;
  }

  .footer-list {
      list-style: none;
      grid-column-start: 2;
      grid-column-end: 4;
  }

  .footer-list li {
      display: inline;
  }

  .footer-list-item {
      display: flex;
      align-items: center;
      gap: 8px;
      grid-column-start: 3;
      grid-column-end: 5;
  }

  .footer-list-item ion-icon {
      font-size: 18px;
      flex-shrink: 0;
  }

  .footer-link {
      font-size: 1.5rem;
      font-weight: 500;
      margin-block-start: 8px;
  }

  .section-copyright {
      grid-column-start: 4;
      grid-column-end: 5;
  }

  .copyright {
      font-size: 1.5rem;
      margin-block-start: 25px;
  }