.profile-pic {
  height: 50%;
  width: 50%;
  align-items: center;
  border-radius: 50%;
  box-shadow: var(--box-shadow-buttons);
  // width: 30%
}


.card-header {
  margin: 0;
  padding: 0;
}

.about {
  height: auto;
}

.about-me-card {
  max-width: 100%;
  width: 100%;
  flex-wrap: nowrap;
}