.contact-section{
  width: 99vw;
  margin-top: 2em;
  max-width: 95%;
}
.contact-header {
  text-align: center;
  font-size: 2rem;
  font-family: var(--font-family-koho);
  color: var(--color-text-dark);
  margin-bottom: 1em;
}
.contact, input {
  align-items: center;
  width: 300px;
  max-width: 1600px;
  height: auto;
  width: 100%;
  color: var(--color-text-dark);
  background-color: var(--color-bg-intro);
  font-family: var(--font-family-koho);
  box-shadow: var(--box-shadow-intro);
}
.information {
  margin: 2em 0 3em 0;
  padding: 1em;
  line-height: 1.5;
  background-color: var(--color-bg-intro);
  max-width: 600px;
  text-align: center;
  // color: #a3ffaa;
}

.contact-fieldset {
  background-color: var(--color-bg-intro);
  max-width: 600px;
  width: 100%;
  padding: 1em;
  border: none;
}
.contact-legend {
  text-align: center;
  padding: 0 1em;
  font-size: 1.2rem;
  font-family: var(--font-family-koho);
  font-weight: 600;
}
.contact-form {

  width: 100%;
}
// .form-label-error {
//   display: flex;
//   flex-direction: column;
//   margin-bottom: 10px;
//   align-items: flex-start;
// }

.contact-form label {
  font-family: var(--font-family-koho);
  font-weight: 600;
  margin-bottom: 15px;

  // color: var(--color-gold);
  width: 100%;
}

.success {
  text-align: center;
}


.contact-form input,
.contact-form textarea {
  padding: 5px;
  // color: #FF0000;
  border-radius: 4px;
  background-color: var(--color-bg-intro-full);
  font-family: var(--font-family-koho);
  font-weight: 600;
  width: 100%;
  border: 1px solid var(--color-bg-active);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
}
.contact-form input:hover,
.contact-form textarea:hover {
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
  // box-shadow: inset 1px 1px 1px 2px var(--color-bg-active);
}
.contact-form textarea {
  height: 109px;
  margin-bottom: 1em;
}
.contact-form .error-message {
  display: none;
  // color: var(--color-red);
  // font-family: var(--font-family-normal);
  font-weight: bold;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  padding: 2px;
  background-color: var(--color-white);
}

.label-error-wrapper {
  margin: 5px auto;
  text-indent: 4px;
}

.contact-button {
  width: 100%;
}


#name-after.show-checkmark::after,
#email-after.show-checkmark::after,
#subject-after.show-checkmark::after,
#message-after.show-checkmark::after {
  content: url(../images/ico-checkmark-green.svg);
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.85)); /* Apply the shadow using the filter property */
  padding-left: 1em;
  // background-color: #0d4b09;
}

#name-after ~ .validated {
  color: #0d4b09;
  font-weight: 600;
  // border: 2px solid #a3ffaa;

}
.input-validated {
  border: 2px solid #53bb4c;
  color: #0d4b09;
}
