
.footer-container {
  color: var(--color-text-dark);
  background-color: var(--color-bg-intro);
}
.footer-left, .footer-center, .footer-right {
  width: 33.33%;
}
.copyright {
  
  height: 30px;
  font-size: 1rem;
  align-items: center;
}