@media (max-width: 1080px) {
  .tablet-wide {
    display: none;
  }
  .arrow-big {
    height: 32px;
  }
}

@media (max-width: 768px) {
  .tablet {
    display: none;
  }
  .intro {
    margin-top: 1.2em;
  }
  .intro-left {
    width: 35%;
  }
  .intro-right {
    width: 65%;
    padding-left: 10px;
    font-size: 1.4rem;
  }
}

@media (max-width: 600px) {
  .header-left {
    background-image: url(../images/logo-footer-rd-with-text.svg);
  }
  // .tablet {
  //   display: flex;
  // }
  .navbar {
    display: none;
  }
  .intro-left {
    width: 30%;
  }
  .intro-right {
    width: 70%;
    padding-left: 15px;
    font-size: 1.2rem;
  }
}
@media (max-width: 500px) {
  .intro {
    margin-top: 0.2em;
  }
}

@media (max-width: 450px) {
  .intro {
    margin-top: 0;
  }
  .intro-left {
    width: 40%;
  }
  .intro-right {
    width: 60%;
    padding-left: 12px;
    font-size: 0.9rem;
  }

  .read-about-me {
    font-size: 0.8rem;
  }
  .arrow-big {
    height: 24px;
  }
}

@media (max-width: 400px) {
  .header {
    height: 120px;
  }
  .read-about-me {
    font-size: 0.8rem;
  }
}

@media (max-width: 360px) {
  .header {
    height: 100px;
  }
}