@media (max-width: 900px) {
  .header-left {
    // background-image: url(../images/logo-footer-rd-with-text.svg);
  }
}

@media (max-width: 600px) {
  .header-left {
    background-image: url(../images/logo-footer-rd-with-text.svg);
  }
  .navbar {
    display: none;
  }
  .header {
    border-bottom: 1px solid var(--color-active);
  }
}

@media (max-width: 400px) {
  .header-left {
    max-height: 120px;
  }
}