:root {
  --border-radius-6px: 6px;
  --border-radius-12px: 12px;
  --box-shadow-buttons: 4px 4px 4px rgba(0, 0, 0, 0.25);;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}